<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body>
    <h1>Página Logado</h1>
    <p>
        {{
        mensagem 
        }}
    </p>
    <div>
        <a href="cadastrarConvidado">
            <button type="button">Cadastrar Convidado</button>
        </a>
    </div>
    <div>
        <a href="listarConvidados">
            <button type="button">Listar Convidados</button>
        </a>
    </div>
    <div>
        <a href="alterarSenha">
            <button type="button">Alterar Senha</button>
        </a>
    </div>
    <div>
        <a href="deslogar">
            <button type="button">Logout</button>
        </a>
    </div>
</body>
</html>