<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="display: flex; flex-direction: column; justify-content: center; align-items: center; min-height: 100vh; margin: 0;">
    <h1>Página Deslogado</h1>
    <p>
        {{
        mensagem 
        }}
    </p>
    <div>
        <a href="cadastrarUsuario">
            <button type="button">Cadastrar Usuário</button>
        </a>
    </div>
    <div>
        <a href="autenticarUsuario">
            <button type="button">Login</button>
        </a>
    </div>
    <div>
        <a href="recuperarSenha">
            <button type="button">Esqueci a Senha</button>
        </a>
    </div>
</body>
</html>