<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body>
    <h1>Página Deslogado</h1>
    <p>
        {{
        mensagem 
        }}
    </p>
    <div>
        <a href="cadastrarUsuario">
            <button type="button">Cadastrar Usuário</button>
        </a>
    </div>
    <div>
        <a href="autenticarUsuario">
            <button type="button">Login</button>
        </a>
    </div>
    <div>
        <a href="recuperarSenha">
            <button type="button">Esqueci a Senha</button>
        </a>
    </div>
</body>
</html>