<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="display: flex; flex-direction: column; justify-content: center; align-items: center; min-height: 100vh; margin: 0;">
    <h1>Página Principal</h1>
    <div>
        <a href="cadastrarUsuario">
            <button type="button">Cadastrar Usuário</button>
        </a>
    </div>
    <div>
        <a href="autenticarUsuario">
            <button type="button">Login</button>
        </a>
    </div>
    <div>
        <a href="recuperarSenha">
            <button type="button">Esqueci a Senha</button>
        </a>
    </div>
    <div>
        <a href="listarConvidados">
            <button type="button">Listar Convidados</button>
        </a>
    </div>
    <div>
        <a href="verificarUsuario">
            <button type="button">Verificar Convidado na Lista</button>
        </a>
    </div>
    <div>
        <a href="removerUsuario">
            <button type="button">Remover Usuário</button>
        </a>
    </div>
    <div>
        <a href="alterarSenha">
            <button type="button">Alterar Senha</button>
        </a>
    </div>
</body>
</html>