<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body>
    <div>
        <a href="/logado">
            <button type="button">Home</button>
        </a>
    </div>
    <h1>{{ titulo }}</h1>
    <p>
        {{
        mensagem 
        }}
    </p>
    <form action="/buscarConvidado" method="post">
        <label for="nomeConvidado">Nome do Convidado:</label>
        <input type="text" name="nomeConvidado" required/>
        <div>
            <button type="submit">Bsucar</button>
        </div>  
    </form>
    <ul>
        {%for id_convidado, nome_convidado, nome_atendente in convidados %}
            <li>
                {{ nome_convidado }} - Cadastrado por: {{ nome_atendente }}
                <form action="/removerConvidado" method="POST" style="display:inline;">
                    <input type="hidden" name="id" value="{{ id_convidado }}">
                    <button type="submit">Excluir</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>