<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="display: flex; flex-direction: column; justify-content: center; align-items: center; min-height: 100vh; margin: 0;">
    <div>
        <a href="/">
            <button type="button">Home</button>
        </a>
    </div>
    <h1>Lista de Usuários</h1>
    <ul>
        {%for convidado in convidados %}
            <li> {{ convidado }} </li>
        {% endfor %}
    </ul>
</body>
</html>