<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="display: flex; flex-direction: column; justify-content: center; align-items: center; min-height: 100vh; margin: 0;">
    <h1>Remover Usuário</h1>
    <div>
        <a href="/">
            <button type="button">Home</button>
        </a>
    </div>
    <form action="/removerUsuario" method="post">
        <label for="loginUsuario">Login a ser removido:</label>
        <input type="email" name="loginUsuario" required/>
        <div>
            <button type="submit">Remover</button>
        </div>  
    </form>
</body>
</html>