<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body>
    <h1>Alterar a Senha</h1>
    <div>
        <a href="/logado">
            <button type="button">Home</button>
        </a>
    </div>
        <form action="/alterarSenha" method="post" style="display: flex; flex-direction: column; align-items: flex-start; width: 300px;">
        <div>
            <label for="nomeUsuario">Senha Atual:</label>
            <input type="password" name="senhaAntiga" required/>
        </div>
        <div>
            <label for="senhaNova1">Nova Senha:</label>
            <input type="password" name="senhaNova1" required/>
        </div>
        <div>
            <label for="senhaNova2">Confirme a Nova Senha:</label>
            <input type="password" name="senhaNova2" required/>
        </div>
        <div>
            <button type="submit">Confirmar Alteração de Senha</button>
        </div>     
    </form>
</body>
</html>